<div class="content d-flex justify-content-center" style="box-sizing: border-box;">
    <div class="row justify-content-center">
      <div class="col text-center">
        <h1>Cursos</h1>
  
        <form>
            <div class="row" style="margin-bottom: 10px;">
            <div class="col">
              <label for="form-control">Nombre:</label>
              <input type="text" class="form-control" name="nombreEstudiante" (keypress)="onKeyPressTexto($event)"[(ngModel)]="cursos.nombreCursos">
            </div>
            
          </div>
          
          
        </form>
         <div>
          <button class="btn btn-secondary" style="margin: 5px;" (click)="setCursos()">{{titulo}}</button>
          <button class="btn btn-primary" style="margin: 5px;" (click)="dismissModal()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

